.wrapper-menu {
  transition: 1s;
  transform: translate(100%);
    position: fixed;
    top: 0;
    z-index: 100;
    right: 0;
    height: 100%;
    background: rgb(92 90 90);
}

.active-menu-option {
  transition: 1s;
  transform: translateX(0);
}

.wrapper-settings {
    padding: 10px 20px 30px;
    font-family: cursive;
    h2 {
        color: #e1e1e1;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 15px;
        border-bottom: 1px solid #6d6b6b;
        padding-left: 5px;
        margin-bottom: 25px;
        margin-top: 18px;
        text-align: start;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #38ae3c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #38ae3c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;

    label {
        color: white;
        margin-right: 30px;
    }

    .pull-right {
      width: 53px;
    }
}

.panel-colors {
  display: flex;
}

.btn-digit-color {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;

  :last-child {
    margin-right: 0;
  }
}

.icon-style-default {
  background: currentColor;
}

.icon-style-active {
  border: 3px solid currentColor;
  background: transparent;
}

.btn-digit-color::before {
  content: "";
  font-size: 28px;
}